<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href = "{{ url_for('static', filename='css/index.css') }}">
<title>What Up Dog! - About Us</title>
</head>
<body style="background-color:	rgba(242, 228, 229, 0.868);">
<h1 id="about">About Us</h1>
<p style="text-align:center">We are team "One of A Kind". Coming from three different CUNY schools, we sought out to use the knowledge we obtained from CUNY Tech Prep
    to build 'What Up Dog'. This project was funded with passion and humor about a topic many people are curious about, but are not pursuing.</p>
<br>
<figure>
<img id="flowchart" src="static\img\flowchart.png" alt="flowchart diagram">
<figcaption>Process application follows to achieve our results</figcaption>
</figure>
<br>
<p style="text-align:center; font-size:36px;">Meet The Team!</p>
<figure>
<img class="member" src="static\img\minah.png" alt="Min Ah Kim">
<figcaption>Min Ah Kim <a href="https://www.linkedin.com/in/min-ah-kim-908421b7/">LinkedIn</a></figcaption>
<img class="member" src="static\img\mohammed.png" alt="Mohammed Uddin">
<figcaption>Mohammed Uddin <a href="https://www.linkedin.com/in/mohammed-t-uddin/">LinkedIn</a></figcaption>
<img class="member" src="static\img\whiskey.jpg" alt="Rich Palestri">
<figcaption>Richard Palestri <a href="https://www.linkedin.com/in/richard-palestri-203613200/">LinkedIn</a></figcaption>
</figure>
<a href="{{url_for('main')}}" style="font-size:xxlarge">Return To Application</a>

</body>
</html>