<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href = "{{ url_for('static', filename='css/index.css') }}">
<title>What Up Dog! - About Us</title>
</head>
<body style="background-color:	rgba(242, 228, 229, 0.868);">
<h1 id="about">About Us</h1>
<p style="text-align:center">We are team "One of A Kind". Coming from three different CUNY schools, we sought out to use the knowledge we obtained from CUNY Tech Prep
    to build 'What Up Dog'. This project was funded with passion and humor about a topic many people are curious about, but are not pursuing.</p>
<h2 id="about">Meet the Pups!</h2>
<p>get pics of everyone's animals </p>
<br>
<h2 id="about">Meet The Team!</h2>
<p>pics of team</p>
<br>
<figure>
<img id="flowchart" src="What-Up-Dog\static\img\flowchart.png" alt="flowchart diagram">
<figcaption>Process application follows to achieve our results</figcaption>
</figure>
</body>
</html>